<h1 class="title">Devour the Burger!</h1>

<div class="container">
  <div class="row">

    <div class="col">
      <h2>Burgers Available</h2>
      <br>
        {{#each burgers}}
        {{#unless devoured}}
      
        <form class="create-form">
        <p><button type="submit" data-id={{this.id}} data-newdevoured={{this.devoured}} class= "change-devoured btn btn-primary btn-sm">Devour</button> {{burger_name}}</p>

        <input input type="hidden" class="burger_id" type="text" value={{this.id}}>

 
        
        </form>
        {{/unless}}
        {{/each}}
      
    </div>

    <div class="col">
      <h2>Create a Burger</h2>
      <br>
      <form class="create-form" action="/api/burgers" method="POST">

        <input type="text" id="ca" name="burger_name" placeholder="Enter New Burger Here">

      </form>
    </div>

    <div class="col">
      <h2>Devoured</h2>
      <br>
   
        {{#each burgers}}
        {{#if devoured}}
        {{burgers devoured=false}}
        <form> 
        <p style="margin-top: 15px;"><input input type="hidden" class="burger_id" type="text" value={{this.id}}>
        <button type="submit" data-id={{this.id}}  class= "delete-burger btn btn-success btn-sm">Yum!</button> {{burger_name}} </p>
        </form>
        {{/if}}
        {{/each}}

    </div>
  </div>
</div>